.slideContainer {
    padding: 20px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 20px;
    background-color: #000;
}
.slideContainer img {
}
.slideContainerImage {
    height: 100%;
    box-shadow: 1px 10px 10px rgba(150, 150, 150, 0.2), -2px -2px 10px rgba(150, 150, 150, 0.2);
}
