.friendsPage {
    margin: 20px;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 1px 10px 10px rgba(150, 150, 150, 0.2), -2px -2px 10px rgba(150, 150, 150, 0.2);
}

.user__button {
    border-radius: 15px;
    margin: 10px 0;
    padding: 5px 10px;
    border: none;
    box-shadow: 1px 10px 10px rgba(150, 150, 150, 0.2), -2px -2px 10px rgba(150, 150, 150, 0.2);
    transition: all 0.3s ease 0s;
    &:hover {
        background-color: rgb(156, 156, 156);
        color: ivory;
    }
}
.follow {
    background-color: red;
}
.user__info {
    transition: all 0.3s ease 0s;
    margin: 0 auto;
    color: #808080;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin: 20px;
    border-radius: 50px;
    box-shadow: inset 1px 10px 10px rgba(150, 150, 150, 0.2), -2px -2px 10px rgba(150, 150, 150, 0.2);
    &:hover {
        transform: scale(110%);
        & .user__firstName {
            transition: all 0.3s ease 0s;
            color: goldenrod;
            font-size: 24px;
        }
        box-shadow: 1px 10px 10px rgba(150, 150, 150, 0.2), inset -2px -2px 10px rgba(150, 150, 150, 0.2);
    }
}
.friendsLink {
    text-align: center;
}
.user__avatar_container {
    width: 50px;
    height: 50px;
}
.user__toFollow {
    margin: 0px 50px 0px;
}
.user__description {
    float: right;
    width: 100%;
    margin: 0px 50px 0px;
    display: grid;
    grid-template-areas:
        "name location"
        "status status";
}
.user__firstName {
    grid-area: name;
    padding: 10px 0 0 0;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}
.user__status {
    grid-area: status;
}
.user__location {
    grid-area: location;
    text-align: end;
}

.selectedPage {
    font-weight: 800;
    cursor: pointer;
    padding: 3px;
}
.unselectedPage {
    cursor: pointer;
    padding: 3px;
}
