.about__me_container {
    border-radius: 1em;
    width: 150px;
    height: 200px;
    position: relative;
    // padding: 20px;
    margin: 20px;
}
.about__me_container img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
