.newPost {
    padding: 10px;
    display: flex;
    align-items: flex-end;
}
.newPost__input,
.newPost__button {
    margin: 10px;
    padding: 10px;
}
.newPost__button {
    padding: 5px 15px;
    background-color: silver;
    border: none;
    border-radius: 2rem;
    &:hover {
        background-color: rgb(156, 156, 156);
    }
}

.newPost__input {
    &:focus {
        // width: 60%;
    }
}
