.friendsItem {
    display: inline-flex;
    flex-direction: column;
    // align-items: center;
    // width: 40px;
    white-space: wrap;
    overflow: hidden;
    padding: 5px;
}

.friendsAvatarContainer {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 5px;
    // align-self: center;
}

.friendsAvatarContainer img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.friend__name {
    // white-space: wrap;
    // overflow: hidden;
}
