.header {
    grid-area: header;
    display: flex;
    align-items: center;
    box-shadow: 1px 10px 10px rgba(150, 150, 150, 0.2);
    border-radius: 2rem;
}
.header__logo {
    color: silver;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 20px 20px 20px 3rem;
}
