.header {
    grid-area: header;
    display: flex;
    align-items: center;
    background-color: black;
}
.header__logo {
    color: ivory;
    text-transform: uppercase;
    padding: 20px 20px 20px 3rem;
}
