.gallerySlide {
    display: flex;
    flex-direction: column;
    margin: 50px;
    justify-content: center;
}

.swiper-container {
    overflow: hidden;
    position: relative;
    height: 600px;
    width: 100%;
    max-width: 800px;
    background: #000;

    & img {
        position: absolute;
        width: 100%;
        object-fit: scale-down;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        display: block;
    }
}
