.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
}
@media (max-width: 900px) {
    .sidebar {
        grid-area: initial;
        display: none;
    }
}

@media (max-width: 900px) {
    .sidebar_active {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 50px;
        display: flex;
        background: #fff;
        z-index: 101;
    }
    .sidebar_active li {
        font-size: 30px;
    }
}
