.myArtworks {
    height: 100%;
    // background-color: black;
    display: flex;
    flex-direction: column;

    color: darksilver;
    text-align: center;
    --swiper-navigation-color: #808080;
    --swiper-pagination-color: #808080;

    .swiper-pagination-bullet {
        background: #eee;
    }
}
.swiper-pagination-bullets {
    bottom: 40px !important;
}
