.dialogs__display {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.dialogs__dialog {
    display: block;
    padding: 10px;
}

.dialog__message {
    padding: 10px;
}

.active {
    color: goldenrod;
}

.avatarDialogsContainer {
    height: 30px;
    width: 30px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    // margin: 20px;
}

.avatarDialogsContainer img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
}
