.posts {
    color: ivory;
    display: flex;
    flex-direction: column;

    width: 100%;
}

.posts__new {
    padding: 10px;
}
.posts__input,
.input__button {
    margin: 10px;
    padding: 10px;
}
.input__button {
    padding: 5px 10px;
}
.posts__history {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 75%;
}
